<app-page class="bg-image-01">
    <div class="bg-secondary border-bottom mb-5">
        <div class="row large-text p-3">
            <div class="col-8">エンタメコイン残高</div>
            <div class="col-4 text-right">1200円</div>
        </div>
    </div>
    <div class="text-center mb-3">
        <strong>入金完了</strong>
    </div>
    <p class="text-center mb-4">10000円の入金が完了しました</p>
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-50 small-text">入金</button>
    </div>
</app-page>