<app-page>

    <div class="text-center small-text py-4">チケット購入を行う店舗を選択してください。</div>

    <ul class="border-top tickets">
        <li class="border-bottom large-text text-center">
            <a href="{{ environment.TICKET_SITE_01 }}" target="_blank" class="d-block">
                <img src="/assets/images/ticket_01.svg" alt="" height="20">
            </a>
        </li>
        <li class="border-bottom large-text text-center">
            <a href="{{ environment.TICKET_SITE_02 }}" target="_blank" class="d-block">
                <img src="/assets/images/ticket_02.svg" alt="" height="30">
            </a>
        </li>
    </ul>
</app-page>

<app-loading [show]="isLoading"></app-loading>