<app-page>
    <app-point-card-header class="mb-4"></app-point-card-header>
    <div class="container">

        <div class="grid align-items-center justify-content-center mb-4 buttons">
            <div class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fab fa-product-hunt mb-2 large-x-text"></i>
                        <div class="small-text">ポイント
                            <br>詳細</div>
                    </div>
                </div>
            </div>
            <div class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-exchange-alt mb-2 large-x-text"></i>
                        <div class="small-text">ポイント
                            <br>移動</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-4">
            <strong>エールカード一覧</strong>
        </div>

        <ul class="cards grid mb-4">
            <li class="text-center">
                <img class="w-100" src="/assets/images/image.png">
                <div class="bg-primary py-1">TEST</div>
                <div class="bg-light py-1">
                    <span class="large-text text-dark align-middle">1200pt</span>
                    <span class="small-x-text text-primary ml-1">(+500pt)</span>
                </div>
            </li>
            <li class="text-center">
                <img class="w-100" src="/assets/images/image.png">
                <div class="bg-primary py-1">TEST</div>
                <div class="bg-light py-1">
                    <span class="large-text text-dark align-middle">1200pt</span>
                    <span class="small-x-text text-primary ml-1">(+500pt)</span>
                </div>
            </li>
            <li class="text-center">
                <img class="w-100" src="/assets/images/image.png">
                <div class="bg-primary py-1">TEST</div>
                <div class="bg-light py-1">
                    <span class="large-text text-dark align-middle">1200pt</span>
                    <span class="small-x-text text-danger ml-1">(-500pt)</span>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <button type="submit" class="btn btn-primary py-2 w-50 small-text disabled">
                <i class="fas fa-plus-circle mr-2"></i>エールカード追加</button>
        </div>
    </div>

</app-page>

<app-loading [show]="isLoading"></app-loading>