<app-page>
    <app-coin-header class="mb-4"></app-coin-header>
    <div class="text-center mb-4">
        <strong>入金額入力</strong>
    </div>
    <div class="container mb-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group px-4">
                <input type="number" class="form-control rounded-0 text-right" formControlName="amount" placeholder="">
                <div *ngIf="form.controls['amount'].invalid && form.controls['amount'].touched" class="text-danger mt-2">
                    <div *ngIf="form.controls['amount'].errors.required" class="mb-1">入金額が未入力です</div>
                    <div *ngIf="form.controls['amount'].errors.pattern" class="mb-1">入金額は半角数字で入力してください</div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary py-2 w-50 small-text">入金</button>
            </div>
        </form>
    </div>
    <div class="text-center mb-4">
        <strong>入金元口座</strong>
    </div>

    <ul class="accounts border-top">
        <li *ngFor="let paymentMethod of this.paymentMethods; let index = index" class="border-bottom grid align-items-center py-3 px-5">
            <div class="small-text">
                <p class="mb-0">エンタメ銀行</p>
                <p class="mb-0">熱量支店</p>
                <p class="mb-0">普通口座 {{ paymentMethods.accountNumber }}</p>
                <p class="mb-0">エンタメ太郎</p>
            </div>
            <button *ngIf="index === 0" type="button" class="btn btn-sm small-text disabled" disabled>変更する</button>
            <button *ngIf="index !== 0" type="button" class="btn btn-sm small-text">変更する</button>
        </li>
    </ul>
</app-page>

<app-loading [show]="isLoading"></app-loading>