<app-page>
    <div class="bg-secondary border-bottom small-text">
        <div class="row py-3 px-3">
            <div class="col-6">エンタメコイン残高</div>
            <div class="col-6 text-right">1200円</div>
        </div>
    </div>
    <div class="bg-secondary mb-4 border-bottom small-text">
        <div class="row py-3 px-3">
            <div class="col-6">共通ポイント</div>
            <div class="col-6 text-right">1200pt</div>
        </div>
    </div>
    <div class="container">

        <div class="grid align-items-center mb-4 main">
            <div class="bg-primary square rounded-circle text-center" routerLink="/coin">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-coins mb-2 large-x-text"></i>
                        <div class="small-text">エンタメコイン</div>
                    </div>
                </div>
            </div>
            <div class="bg-primary square rounded-circle text-center" routerLink="/point-card">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-id-card mb-2 large-x-text"></i>
                        <div class="small-text">ポイントカード/
                            <br>エールカード</div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="grid align-items-center mb-4 menu">
            <li class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-ticket-alt mb-1"></i>
                        <div class="small-x-text">チケット
                            <br>購入</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-gift mb-1"></i>
                        <div class="small-x-text">グッズ
                            <br>購入</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-user mb-1"></i>
                        <div class="small-x-text">友達</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-cog mb-1"></i>
                        <div class="small-x-text">設定</div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="text-center mb-4">
            <strong>For You</strong>
        </div>

        <ul class="grid lineup">
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/image.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/image.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/image.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
        </ul>
    </div>
</app-page>