<app-page class="bg-image-01">
    <div class="bg-secondary border-bottom small-text">
        <div class="row py-2 px-3">
            <div class="col-6">エンタメコイン残高</div>
            <div class="col-6 text-right">1200円</div>
        </div>
    </div>
    <div class="bg-secondary mb-4 border-bottom small-text">
        <div class="row py-2 px-3">
            <div class="col-6">共通ポイント</div>
            <div class="col-6 text-right">1200pt</div>
        </div>
    </div>
    <div class="container">

        <div class="grid align-items-center mb-4 main">
            <div class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="30" height="30" class="mb-2" alt="">
                        <div class="small-text">エンタメコイン</div>
                    </div>
                </div>
            </div>
            <div class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="30" height="30" class="mb-2" alt="">
                        <div class="small-text">ポイントカード/
                            <br>エールカード</div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="grid align-items-center mb-4 menu">
            <li class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="20" height="20" class="mb-1" alt="">
                        <div class="small-x-text">チケット
                            <br>購入</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="20" height="20" class="mb-1" alt="">
                        <div class="small-x-text">チケット
                            <br>ホルダー</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="20" height="20" class="mb-1" alt="">
                        <div class="small-x-text">グッズ
                            <br>購入</div>
                    </div>
                </div>
            </li>
            <li class="bg-primary square rounded-circle text-center">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <img src="/assets/images/logo.png" width="20" height="20" class="mb-1" alt="">
                        <div class="small-x-text">友達</div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="text-center mb-4">
            <strong>For You</strong>
        </div>

        <ul class="grid lineup">
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/test.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/test.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
            <li>
                <div class="mb-1">
                    <img class="w-100" src="/assets/images/test.png">
                </div>
                <p class="small-x-text mb-0">メインビジュアル＆ロゴ、グッズ全ラインナップ解禁</p>
            </li>
        </ul>
    </div>
</app-page>