
.main {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.lineup {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}