<div class="cover" [class.active]="isOpen" (click)="close.emit()"></div>

<div class="menu" [class.active]="isOpen">
    <ul class="mb-0 bg-secondary">
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/">TOP</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin">エンタメコイン照会</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin/payment/select">入金方法選択</li>
        <!-- <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin/payment/input">金額入力</li> -->
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin/payment/account">口座金額入力</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin/payment/credit">クレジット金額入力</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/coin/payment/complete">入金完了</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/point-card">ポイント＆カード</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/point-card/transfer/input">ポイント移動 -入力</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/point-card/transfer/complete">ポイント移動 -完了</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/ticket">チケット購入</li>
        <li class="border-bottom p-3" (click)="close.emit()" routerLink="/auth">ログイン</li>
        <li class="border-bottom p-3" (click)="signOut()">ログアウト</li>
    </ul>
</div>