<app-page>
    <app-coin-header class="mb-4"></app-coin-header>
    <div class="container">

        <div class="grid align-items-center justify-content-center mb-4 buttons">
            <div class="bg-primary square rounded-circle text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-align-left mb-2 large-x-text"></i>
                        <div class="small-text">詳細</div>
                    </div>
                </div>
            </div>
            <div class="bg-primary square rounded-circle text-center" routerLink="/coin/payment/select">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div>
                        <i class="fas fa-arrow-up mb-2 large-x-text"></i>
                        <div class="small-text">入金</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="!isLoading">
        <div class="text-center mb-4">
            <strong>利用履歴</strong>
        </div>

        <p *ngIf="coinAccountMoneyTransferActions.length === 0" class="text-center">利用履歴がありません</p>
        
        <ul *ngIf="coinAccountMoneyTransferActions.length > 0" class="history border-top">
            <li *ngFor="let action of coinAccountMoneyTransferActions" class="border-bottom grid align-items-center p-3">
                <div>
                    <div class="small-x-text">{{ action.endDate | date: 'yyyy/MM/dd hh:mm'  }}</div>
                    <p *ngIf="action.purpose.typeOf === transactionType.BuyCoin" class="mb-0">{{ action.description }}</p>
                    <p *ngIf="action.purpose.typeOf === transactionType.TransferCoin" class="mb-0">{{ action.description }}</p>
                </div>
                <div *ngIf="action.purpose.typeOf === transactionType.BuyCoin" class="text-right large-text text-primary">+{{ action.amount }}円</div>
                <div *ngIf="action.purpose.typeOf === transactionType.TransferCoin" class="text-right large-text text-danger">-{{ action.amount }}円</div>
            </li>
        </ul>
    </div>


</app-page>

<app-loading [show]="isLoading"></app-loading>