<app-page>
    <app-coin-header></app-coin-header>
    <div class="text-center mb-4">
        <strong>入金額入力</strong>
    </div>
    <div class="container mb-4">
        <form>
            <div class="form-group">
                <input type="text" class="form-control rounded-0" name="" id="" placeholder="">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50 small-text" routerLink="/coin/payment/complete">入金</button>
            </div>
        </form>
    </div>
    <div class="text-center mb-4">
        <strong>入金元口座</strong>
    </div>

    <ul class="accounts border-top">
        <li class="border-bottom grid align-items-center py-3 px-5">
            <div class="small-text">
                <p class="mb-0">エンタメ銀行</p>
                <p class="mb-0">熱量支店</p>
                <p class="mb-0">普通口座 12345678</p>
                <p class="mb-0">エンタメ太郎</p>
            </div>
            <button type="button" class="btn btn-sm small-text disabled" disabled>変更する</button>
        </li>
    </ul>
</app-page>