<app-page>
    <app-coin-header></app-coin-header>
    <div class="container">

        <div class="grid align-items-center justify-content-center mb-4 buttons">
            <div class="bg-primary rounded square text-center" routerLink="/coin/payment/account">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div class="small-text">エンタメ銀行</div>
                </div>
            </div>
            <div class="bg-primary rounded square text-center" routerLink="/coin/payment/credit">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div class="small-text">クレジット
                        <br>カード</div>
                </div>
            </div>
            <div class="bg-primary rounded square text-center disabled">
                <div class="inner d-flex align-items-center justify-content-center">
                    <div class="small-text">コンビニ
                        <br>入金</div>
                </div>
            </div>
        </div>
    </div>
</app-page>