<div class="base justify-content-center align-items-center">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center mb-3">
            <img src="/assets/images/logo.png" width="20" height="20" class="mr-1" alt="">
            <span class="large-x-text">Entame Coin</span>
        </div>
        <div class="text-center mb-3">
            <strong>ログイン</strong>
        </div>
        <div class="text-center">
            <button routerLink="/" type="submit" class="btn btn-primary w-50 small-text">ログイン</button>
        </div>
    </div>
</div>