<app-page>
    <app-point-card-header></app-point-card-header>
    <div class="text-center mb-3">
        <strong>ポイント移動完了</strong>
    </div>
    <p class="text-center mb-4">共通ポイントからAAAカードへ
        <br>5000ptの移動が完了しました。</p>
    <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary w-50 small-text" routerLink="/point-card">ポイント/エールカードへ戻る</button>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary w-50 small-text" routerLink="/">TOPへ戻る</button>
    </div>
</app-page>